{% extends "base_logged_in.html" %}
{% block content %}
<!-------------SMALL SCREEN------------->
<div class="container news-container">
    <div class="row title">
        <div class="col-1 col-md-1">
            <a href="#">
                <img class="thumbnail-img img-circle" src="{{ MEDIA_URL }}{{ bug.reported_by.avatar }}"
                     alt="{{bug.title}}">
            </a>
        </div>
        <div class="bug-wrapper col-11 col-md-11">
            <div class="row bug-reported-by">
                <div class="col-12 col-md-12">
                    <strong>
                        <a class="no-decor" style="color: #e54725;" href="#">{{ bug.reported_by }}</a>
                    </strong>
                    <small class="text-muted">{{ bug.published_date|timesince}} ago</small>
                </div>
                <div class="col-12 col-md-12">
                    <strong>
                        <span class="no-decor" style="color: #e54725;" href="#">{{ bug.title }}</span>
                    </strong>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <p class="newdetail-content">{{ bug.content|linebreaks}}</p>
                </div>
            </div>
            <div class="row">
                {% for bugimage in bug.images.all %}
                {% if bugimage.image %}
                <div class="col-md-4">
                    <img src="{{ bugimage.image.url }}" alt="Image Not Found" class="img-thumbnail">
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-back">Back to bugs</button>
    </div>
</div>
{% endblock %}