{% extends "base_logged_in.html" %}
{% block content %}
<div class="container news-container">
    <div class="row title">
        <div class="col-3 col-md-2 col-lg-1">
            <a href="#">
                <img class="thumbnail-img img-circle" src="{{ MEDIA_URL }}{{ bug.reported_by.avatar }}"
                     alt="{{bug.title}}">
            </a>
        </div>
        <div class="col-9 col-md-10 col-lg-11 bug-reported-by">
            <strong>
                <a class="no-decor" style="color: #e54725;" href="#">{{ bug.reported_by }}</a>
            </strong>
            <small class="text-muted">{{ bug.published_date|timesince}} ago</small>
            <br>
            <strong>
                <span class="no-decor" style="color: #e54725;">{{ bug.title }}</span>
            </strong>
        </div>
    </div>
</div>
<div class="container news-container">
    <div class="row title">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <p class="newdetail-content">{{ bug.content|linebreaks}}</p>
                </div>
            </div>
            <div class="row">
                {% for bugimage in bug.images.all %}
                {% if bugimage.image %}
                <div class="col-12 col-md-3">
                    <img id="bug{{ bugimage.id }}" src="{{ bugimage.image.url }}" alt="Image Not Found"
                         class="img-thumbnail">
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-back">Back to bugs</button>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="max-width: 650px">
        <div class="modal-content">
            <div class="modal-body" style="height: 450px;">
                <img src="" id="imagepreview" class="img-responsive">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(".img-thumbnail").on("click", function() {
    if($(window).width()>768){
        $('#imagepreview').attr('src', $(this).attr('src'));
        $('#imagemodal').modal('show');
    }
});
</script>
{% endblock %}
