{% extends "base_logged_in.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <a class="btn bugs-button report-button" href="{% url 'report_bug' %}">
                Report Bug
            </a>
        </div>
        <div class="col-12">
            <div role="grid" class="bug-table" style="width: 100%;">
                <div role="row" class="table-row bug-first-row">
                    <div role="gridcell" class="table-cell"><span><b>Opened</b></span>
                        <div class="row">
                            <div class="col-12">
                                <i class="fas fa-exclamation-circle" style="color: green;"></i>&nbsp;/
                                <i class="fas fa-check" style="color: green;"></i>
                            </div>
                        </div>
                    </div>
                    <div role="gridcell" class="table-cell"><b>Bug's Title</b></div>
                    <div role="gridcell" class="table-cell d-none d-md-table-cell"><b>Reported by</b></div>
                    <div role="gridcell" class="table-cell d-none d-md-table-cell"><b>Reported at</b></div>
                    <div role="gridcell" class="table-cell"><b>Upvotes</b></div>
                </div>
                {% for bug in bugs %}
                <a role="row" class="table-row no-decor bug-link" href="{{ bug.get_absolute_url }}">
                    {% if bug.open is True %}
                    <div role="gridcell" class="table-cell">
                        <i class="fas fa-exclamation-circle" style="color: green;"></i>
                    </div>
                    {% else %}
                    <div role="gridcell" class="table-cell"><i class="fas fa-check" style="color: green;"></i></div>
                    {% endif %}
                    <div role="gridcell" class="table-cell">{{ bug.title }}</div>
                    <div role="gridcell" class="table-cell d-none d-md-table-cell">
                        {{ bug.reported_by.user }}
                    </div>
                    <div role="gridcell" class="d-none d-md-block table-cell">
                        {{ bug.published_date|timesince}} ago
                    </div>
                    <div role="gridcell" class="table-cell">{{ bug.upvotes.count }}</div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% if bugs.has_other_pages %}
<div class="container">
    <nav class="row page-nav" aria-label="Bugs Page Navigation">
        <ul class="col-12 pagination justify-content-center">
            {% if bugs.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ bugs.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            {% for i in bugs.paginator.page_range %}
            {% if bugs.number == i %}
            <li class="page-item active">
                <span class="page-link">{{ i }}
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if bugs.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ bugs.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
{% endblock %}
