{% extends "base_logged_in.html" %}
{% load staticfiles %}
{% block content %}
<div class="container news-container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row title">
            <div class="col-3 col-md-2 col-xl-1">
                <img class="thumbnail-img img-circle" src="{{ MEDIA_URL }}{{ user.userprofile.avatar }}"
                     alt="Picture can not be loaded">
            </div>
            <div class="bug-wrapper col-9 col-md-10 col-xl-11">
                <div class="row">
                    {% for field in new_bug_form %}
                    <div class="col-12">
                        <span>{{ field.label }} {{ field }}</span>
                    </div>
                    {% endfor %}
                    <div class="image-and-submit-row col-12">
                        <div class="row">
                            <div class="col-9 col-md-10">
                                {{ bug_img_form }}
                                <button type="button" class="btn btn-outline-secondary"
                                        id="image-picker">Choose Images
                                </button>
                            </div>
                            <div class="col-3 col-md-2">
                                <button type="submit" class="btn bugs-button">Report Bug</button>
                            </div>
                            <div class="col-12" id="number_of_chosen_files">
                                Upload maximum 3 screenshots
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <button type="button" class="btn btn-back">Back</button>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/buttons.js'%}"></script>
<script src="{% static 'js/bug_report.js' %}"></script>
{% endblock %}
