{% extends "base_logged_in.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="title" align="center">For the sake of transparency we would like to show you the informations of
                the page.</p>
        </div>
    </div>
</div>
<div align="center" class="loader">
    <img src="{% static 'img/ajax-loader.gif' %}" alt="Loading">
</div>
<div class="container statistic-container">
    <div class="row graph">
        <div class="col-12 col-md-6">
            <canvas id="number_of_tickets" width="400" height="400"></canvas>
        </div>
        <div class="col-12 col-md-6 graph">
            <canvas id="number_of_upvotes" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 graph">
            <canvas id="number_of_orders" width="400" height="400"></canvas>
        </div>
        <div class="col-12 col-md-6 graph">
            <canvas id="spent_money" width="400" height="400"></canvas>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="{% static 'js/graphs.js'%}"></script>
{% endblock %}