{% extends "base_logged_in.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 align="center" class="title">Statistics</h2>
            <hr>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <canvas id="number_of_tickets" width="400" height="400"></canvas>
        </div>
        <div class="col-6">
            <canvas id="number_of_upvotes" width="400" height="400"></canvas>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="{% static 'js/graphs.js'%}"></script>
{% endblock %}