{% extends "base.html" %} {% load bootstrap_tags %} {% load static from staticfiles %} {% block content %}
<!--SMALL SCREEN-->
<section class="jumbotron-fluid text-center white-text welcome-page-bg d-block d-md-none">
    <nav class="navbar-container">
        <div class="navbar navbar-expand-md navbar-default navbar-dark">
            <div class="container">
                <a class="navbar-brand logo" href="{% url 'index' %}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i>Home</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item">
                            <a type="button" class="nav-link" href="{% url 'login_from_password_change' %}"><i class="fas fa-sign-in-alt"></i>Log In</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <h5>
        <p>
            <p>Your password has been set.</p>
            You may go ahead and log in now.
        </p>
    </h5>
    </br>
    <p><a type="button" class="btn btn-primary btn-lg btn-sign-up" href="{% url 'login_from_password_change' %}">Log In!</a></p>
</section>
<!--MEDIUM SCREEN-->
<section class="jumbotron-fluid text-center white-text welcome-page-bg d-none d-md-block">
    <nav class="navbar-container">
        <div class="navbar navbar-expand-md navbar-default navbar-dark">
            <div class="container">
                <a class="navbar-brand logo" href="{% url 'index' %}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i>Home</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item">
                            <a type="button" class="nav-link" href="{% url 'login_from_password_change' %}"><i class="fas fa-sign-in-alt"></i>Log In</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <h5>
        <p>
            <p>Your password has been set.</p>
            You may go ahead and log in now.
        </p>
    </h5>
    </br>
    <p><a type="button" class="btn btn-primary btn-lg btn-sign-up" href="{% url 'login_from_password_change' %}">Log In!</a></p>
</section>
<link rel="stylesheet" href="{% static 'css/password-resets.css' %}">
{% endblock %}
{% block class_swapper %}{% endblock %}
