{% extends "base_logged_in.html" %}
{% load staticfiles %}
{% load custom_tags %}
{% block content %}
<div class="container news-container">
    <div class="row title">
        <div class="col-3 col-md-2 col-lg-1">
            <a href="{% url 'view_profile' feature.reported_by %}">
                <img class="thumbnail-img img-circle" src="{{ MEDIA_URL }}{{ feature.reported_by.avatar }}"
                     alt="{{feature.title}}">
            </a>
        </div>
        <div class="col-9 col-md-10 col-lg-11 bug-reported-by">
            <strong>
                <a class="no-decor" style="color: #e54725;" href="{% url 'view_profile' feature.reported_by %}">
                    {{ feature.reported_by }}
                </a>
            </strong>
            <small class="text-muted">{{ feature.published_date|timesince}} ago</small>
            <br>
            <strong>
                <span class="no-decor" style="color: #e54725;">{{ feature.title }}</span>
            </strong>
        </div>
    </div>
</div>
<div class="container news-container">
    <div class="row title">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <p class="newdetail-content">{{ feature.content|linebreaks}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-back col-3">Back</button>
        <div class="col-8">
            <div align="right" class="float-right" style="color: #e54725;">
                {% if feature.open == 'O' %}
                {% if request.user not in feature.upvoted_by.all %}
                <a role="button" id="like-button" class="no-decor col-6" href="{{ feature.get_upvote_url }}">
                    <i class="fas fa-arrow-alt-circle-up" style="color: #e54725;">
                        <span>Upvote</span>
                    </i>
                </a>
                {% else %}
                <a role="button" id="multiple-like-button" class="no-decor col-8" href="{{ feature.get_upvote_url }}">
                    <i class="fas fa-arrow-alt-circle-up" style="color: #e54725;">Upvote</i>
                </a>
                <input name="quantity" id="quantity" type="number" min="1" max="{% subtract feature %}" class="form-control-sm"
                       value="1">
                {% endif %}
                {% endif %}
                <div class="col-12">
                    <span class="float-right">
                        <span id="number_of_upvotes">{{ feature.upvotes}}</span>
                        <span>/ {{ feature.needed_upvotes}}</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12">
            <span class="alert alert-secondary float-right" id="missing_upvotes_error" style="display:none;">
                <small>You don't have enough available points to upvote.<br>
                Click <a href="{% url 'all_packages' %}">here</a> to buy some
                </small>
            </span>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/feature_upvote.js'%}"></script>
{% endblock %}



