{% extends "base_logged_in.html" %}
{% load staticfiles %}
{% load custom_tags %}
{% block content %}
<div class="container news-container">
    <div class="row title">
        <div class="col-9 col-md-10 col-lg-11 bug-reported-by">
            <strong>
                <span class="no-decor" style="color: #e54725;">{{ feature.title }}</span>
                <span class="float-right text-muted">
                    {% if feature.is_recent %}
                    {{ feature.published_date|timesince}} ago
                    {% else %}
                    {{ feature.published_date|date:"d M Y" }}
                    {% endif %}
                </span>
            </strong>
        </div>
    </div>
</div>
<div class="container news-container">
    <div class="row title">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <p class="newdetail-content">{{ feature.content|linebreaks}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span>
                Reported by:
                <a class="no-decor" style="color: #e54725;" href="{% url 'view_profile' feature.reported_by %}">
                    {{ feature.reported_by }}
                </a>
            </span>
        </div>
        <div class="col-12">
            <div align="right" class="float-right" style="color: #e54725;">
                {% if feature.open == '0' %}
                <a role="button" id="upvote-button" class="no-decor col-8" href="{{ feature.get_upvote_url }}">
                    <i class="fas fa-arrow-alt-circle-up" style="color: #e54725;">Upvote</i>
                </a>
                <input name="quantity" id="quantity" type="number" min="1" max="{% subtract feature %}"
                       class="form-control-sm"
                       value="1">
                {% endif %}
                <div class="col-12">
                    <span class="float-right">
                        <span id="number_of_upvotes">{{ feature.upvotes}}</span>
                        <span>/ {{ feature.needed_upvotes}}</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12">
            <span class="alert alert-secondary float-right" id="missing_upvotes_error" style="display:none;">
                <small>You don't have enough available points to upvote.<br>
                Click <a href="{% url 'all_packages' %}">here</a> to buy some
                </small>
            </span>
        </div>
        <button type="button" class="btn btn-back">Back</button>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/feature_upvote.js'%}"></script>
<script src="{% static 'js/delete_comment.js'%}"></script>
<script src="{% static 'js/buttons.js'%}"></script>
{% endblock %}



