body {
    font-family: sans-serif;
}

.welcome-page-bg {
    background: url('../img/open_bump.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    border-radius: 0;
}

.jumbotron-fluid {
    margin: 0;
    padding-top: 150px;
    width: 100%;
    height: 100vh;
}

.welcome-page-bg.jumbotron h1 {
    padding-top: 100px;
}

.white-text {
    color: white !important;
}

.black-text {
    color: black !important;
}

.text-uppercase {
    margin: 15px;
}

.btn-sign-up {
    color: white;
    border: none;
    background-color: #e54725;
}

.btn-sign-up:hover {
    color: #BEBEBE;
    border: none;
    background-color: #b7381d;
}

/*-----------------NAVBAR-----------------*/

.navbar-container {
    padding: 0;
    margin: 0;
}

.navbar {
    margin-bottom: 0px;
    padding: 0;
}

.navbar-transparent {
    transition: all 0.5s ease-out;
    background-color: transparent;
}

.navbar-white {
    transition: all 0.5s ease-out;
    background-color: white;
}

.nav.navbar {
    border: 0;
}

.nav-item {
    color: white;
}

.navbar-collapse {
    background-color: rgba(0, 0, 0, 0.45);
}

.logo {
    background: url("../img/logo.png") no-repeat;
    display: block;
    width: 150px;
    height: 75px;
}

.logo-transparent {
    background: url("../img/logo_black.png") no-repeat;
    display: block;
    width: 150px;
    height: 75px;
}

.community-pages-footer {
    background-color: white;
}

.who-are-we {
    background-color: white;
}

.feature {
    padding: 10px;
    height: 210px;
    background-color: rgba(255, 255, 255, 0.1);
}

.feature-container {
    margin-bottom: 10px;
    padding: 10px;
}

/*-----------------ICONS-----------------*/

.fas {
    color: white;
    margin-right: 5px;
}

a .fab {
    color: black;
    margin: 10px;
}

.fa-user-friends,
.fa-question-circle {
    color: #E54725;
    font-size: 45px;
}

@media(min-width: 768px) {
    .navbar-collapse {
        background-color: transparent;
    }
    .jumbotron-fluid {
        position: relative;
        top: -100px;
        margin: 0;
        padding-top: 150px;
        width: 100%;
        height: 100vh;
    }
}
