.welcome-page-bg {
    background: url('../img/open_bump.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    border-radius: 0;
}

.jumbotron {
    height: 100vh;
}

.white-text {
    color: white;
}

.btn-sign-up{
    color: white;
    border-color: white;
    background-color: #ED6214;
}

.btn-sign-up:hover{
    color: white;
    border-color: white;
    background-color: #BE4E10;
}

.fas{
    margin-right: 5px;
}