body {
    font-family: sans-serif;
}

.welcome-page-bg {
    background: url('../img/open_bump.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    border-radius: 0;
}

.jumbotron {
    padding-top: 0;
    height: 100vh;
}

.welcome-page-bg.jumbotron h1 {
    padding-top: 100px;
}

.white-text {
    color: white;
}

.btn-sign-up {
    color: white;
    border: none;
    background-color: #e54725;
}

.btn-sign-up:hover {
    color: #BEBEBE;
    border: none;
    background-color: #b7381d;
}
/*-----------------NAVBAR-----------------*/
.navbar-container {
    max-width: 100%;
}

.navbar {
    margin-bottom: 0px;
    padding: 0;
}

.nav.navbar {
    border: 0;
}

.navbar.navbar-default {
    background-color: transparent;
    width: 100%;
}

.nav-item {
    color: white;
}

.navbar-collapse {
    background-color: rgba(0, 0, 0, 0.45);
}

.fas {
    color: white;
    margin-right: 5px;
}

.community-pages-footer {
    background-color: grey;
}

a .fab {
    color: black;
    margin: 10px;
}

@media(min-width: 768px) {
    .navbar.navbar-default {
        background-color: transparent;
    }
    .navbar-collapse {
        background-color: transparent;
    }
    .navbar-container {
        max-width: 90%;
    }
}
