/*-----------------NAVBAR-----------------*/
.navbar-custom{
    background-color: rgb(74, 74, 79);
}
.nav.navbar {
    border: 0;
}

.nav-item {
    color: white;
}

.navbar-collapse {
    background-color: rgba(0, 0, 0, 0.45);
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgba(255, 255, 255, 0.5);
}
.logo {
    background: url("../img/logo.png") no-repeat;
    display: block;
    width: 150px;
    height: 75px;
}

.logo-white-orange {
    background: url("../img/logo_white_orange.png") no-repeat;
    display: block;
    width: 150px;
    height: 75px;
}
.navbar-collapse{
    background-color: transparent;
}

.navbar-nav{
    text-align: center;
}

.fas{
    margin-right: 10px;
}

.fas.fa-bug{
    color: black;
}

.fas.fa-bug span {
    font-weight: 500;
    color: black;
    padding-left: 5px;
}

.bugs-button{
    background-color: #e54725;
    color: black;
}

.bugs-button:hover{
    background-color: #b7381d;;
    color: #BEBEBE;

}
/*-----------------FOOTER-----------------*/
.community-pages-footer{
    background-color: rgb(74, 74, 79);
}

.fab {
margin: 15px;
    color: white;
}
/*-----------------NEWS-----------------*/
.news_image{
    width:auto;
    max-height:300px;
}