html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
/*-----------------NAVBAR-----------------*/
.navbar-custom{
    background-color: rgb(74, 74, 79);
}
.nav.navbar {
    border: 0;
}

.nav-item {
    color: white;
}

.navbar-collapse {
    background-color: rgba(0, 0, 0, 0.45);
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgba(255, 255, 255, 0.5);
}
.logo {
    background: url("../img/logo.png") no-repeat;
    display: block;
    width: 150px;
    height: 75px;
}

.logo-white-orange {
    background: url("../img/logo_white_orange.png") no-repeat;
    display: block;
    width: 150px;
    height: 75px;
}
.navbar-collapse{
    background-color: transparent;
}

.navbar-nav{
    text-align: center;
}

.fas{
    margin-right: 10px;
}

.fas.fa-bug{
    color: black;
}

.fas.fa-bug span {
    font-weight: 500;
    color: black;
    padding-left: 5px;
}

.bugs-button{
    background-color: #e54725;
    color: black;
}

.bugs-button:hover{
    background-color: #b7381d;;
    color: #BEBEBE;

}
/*-----------------NEWS-----------------*/
.wrapper{
    position: relative;
    min-height: 100%;
}
.content{
    padding-bottom: 70px;
}

.news-footer{
    text-align: center;
    margin-top: 10px;
}
/*-----------------PAGINATION------------*/
.page-nav{
    margin-top: 20px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #e54725;
    border-color: transparent;
}

.page-link:hover {
    color: black;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;

}
/*-----------------FOOTER-----------------*/
.community-pages-footer{
    height: 70px;
	width: 100%;
	position: absolute;
	bottom: 0;
    background-color: rgb(74, 74, 79);
}
.content{
    padding-bottom: 70px;
}
.fab {
margin: 15px;
    color: white;
}
/*-----------------NEWS-----------------*/
.news-image{
    width:auto;
    max-height:300px;
}
/*-------------MEDIA QUERIES------------*/
@media(min-width: 768px) {
    .news-container{
        margin-top: 30px;
    }
}