{% extends "base_logged_in.html" %}
{% load static %}
{% block content %}
<div class="container profile-container">
    <form method="POST">
        {{ form.non_field_errors }}
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-md-4 profile-feature">
                <div class="row">
                    <div class="col-12">
                        <div class="col-12">
                            <div align="center" class="col-12">
                                <img src="{{ user.avatar.url }}" height="150">
                            </div>
                            <div align="center" class="col-12">
                                <div>@{{ user }}</div>
                                <div>{{ user.user.first_name }} {{ user.user.last_name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 profile-feature">
                {% for field in form %}
                <span>{{ field.label }} {{ field }} </span>
                <p>{{ field.errors.as_text }}</p>
                {% endfor %}
            </div>
            <button type="submit" class="btn bugs-button">Save Password</button>
        </div>
        {{ form.non_field_errors }}
    </form>
    <button type="button" class="btn btn-back">Back</button>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/buttons.js'%}"></script>
{% endblock %}