{% extends "base_logged_in.html" %}
{% load static %}
{% block content %}
<div class="container news-container">
    <div class="row title">
        <div class="col-12">
            <form method="POST">
                {% csrf_token %}
                <div class="bug-wrapper" align="center">
                    <div class="col-4">
                        {% for field in form %}
                        <span>{{ field.label }} {{ field }} </span>
                        {% endfor %}
                        <div class="row">
                            <div class="col-3">
                                <button type="submit" class="btn bugs-button">Save Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <button type="button" class="btn btn-back">Back</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/buttons.js'%}"></script>
{% endblock %}