{% extends 'base.html' %} {% load bootstrap_tags %} {% load static from staticfiles %} {% block content %}
<!--SMALL SCREEN-->
<section class="jumbotron-fluid text-center white-text welcome-page-bg d-block d-md-none">
    <nav class="navbar-container">
        <div class="navbar navbar-expand-md navbar-default navbar-dark">
            <div class="container">
                <a class="navbar-brand logo" href="{% url 'index' %}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerS"
                        aria-controls="navbarTogglerS" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerS">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#registerModal">
                                <i class="fas fa-user"></i><span>Register</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#loginModal">
                                <i class="fas fa-sign-in-alt"></i><span>Log In</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <h1><strong>Software Development</strong></h1>
    <p class="lead"><b>We love coding, we love building new features, and we love solving bugs</b></p>
    <p class="lead"><b>Join our community and support us</b></p>
    <p>
        <button type="button" class="btn btn-primary btn-lg btn-sign-up" data-toggle="modal"
                data-target="#registerModal">
            Sign Up!
        </button>
    </p>
    <p class="text-muted"><small class="white-text">We promise never to share, trade, sell, deliver, reveal, publicize,
        or market your email address in any way, shape, or form.</small></p>
    </div>
</section>
<!--BIG SCREEN-->
<nav class="navbar-container sticky-top d-none d-md-block">
    <div class="navbar navbar-expand-md navbar-default navbar-dark">
        <div class="container">
            <a class="navbar-brand logo" href="{% url 'index' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i>Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <button type="button" class="btn nav-link" data-toggle="modal" data-target="#registerModal"><i
                                class="fas fa-user"></i>Register
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn nav-link" data-toggle="modal" data-target="#loginModal"><i
                                class="fas fa-sign-in-alt"></i>Log In
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<section class="jumbotron-container">
    <div class="jumbotron-fluid text-center white-text welcome-page-bg d-none d-md-block">
        <h1><strong>Software Development</strong></h1>
        <p class="lead"><b>We love coding, we love building new features, and we love solving bugs</b></p>
        <p class="lead"><b>Join our community and support us</b></p>
        <p>
            <button type="button" class="btn btn-primary btn-lg btn-sign-up" data-toggle="modal"
                    data-target="#registerModal">Sign
                Up!
            </button>
        </p>
        <p class="text-muted"><small class="white-text">We promise never to share, trade, sell, deliver, reveal,
            publicize, or market your email address in any way, shape, or form.</small></p>
    </div>
</section>
{% endblock %} {% block footer %}
<section class="who-are-we">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12">
                <h2 class="text-uppercase">Who are we?</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 feature-container">
                <div class="feature text-center">
                    <i class="fas fa-users"></i>
                    <h3>Community</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 feature-container">
                <div class="feature text-center">
                    <i class="fas fa-headset"></i>
                    <h3>Lorem Ipsum</h3>
                    <p>
                        Ullamcorper a lacus vestibulum sed. Vulputate enim nulla aliquet porttitor. Venenatis lectus
                        magna fringilla urna porttitor rhoncus.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 feature-container">
                <div class="feature text-center">
                    <i class="fas fa-laptop"></i>
                    <h3>Lorem Ipsum</h3>
                    <p>
                        Facilisi morbi tempus iaculis urna id volutpat lacus. Quis vel eros donec ac odio tempor orci
                        dapibus. Morbi tincidunt augue interdum velit euismod.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 feature-container">
                <div class="feature text-center">
                    <i class="fas fa-question-circle"></i>
                    <h3>Lorem Ipsum</h3>
                    <p>
                        Molestie at elementum eu facilisis sed. Ornare arcu odio ut sem nulla pharetra diam. Dui
                        accumsan sit amet nulla facilisi morbi tempus iaculis urna.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 feature-container">
                <div class="feature text-center">
                    <i class="fas fa-address-card"></i>
                    <h3>About Us</h3>
                    <p>
                        Molestie at elementum eu facilisis sed. Ornare arcu odio ut sem nulla pharetra diam. Dui
                        accumsan sit amet nulla facilisi morbi tempus iaculis urna.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 feature-container">
                <div class="feature text-center">
                    <i class="fas fa-envelope"></i>
                    <h3>Contact Us</h3>
                    <p>
                        Molestie at elementum eu facilisis sed. Ornare arcu odio ut sem nulla pharetra diam. Dui
                        accumsan sit amet nulla facilisi morbi tempus iaculis urna.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" value="{{ login_from_pass_change }}" id="login_from_pass_change"
                       name="login_from_pass_change">
                <h5 class="modal-title"><b>Sign In</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" class="loginform">
                <fieldset class="form-group">
                    {% csrf_token %}
                    {{ login_form | as_bootstrap }}
                    {% if messages %}
                    <div align="center" class="alert alert-primary">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="alert alert-danger" role="alert" id="username_or_password_error" style="display:none;">
                        Your username or password are incorrect
                    </div>
                    <p><a data-dismiss="modal" data-toggle="modal" data-target="#forgottenPasswordModal" href="#">Forgot
                        My Password</a></p>
                </fieldset>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-sign-up" id="login_button" name="login">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Create a new account</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" class="registerform" onsubmit="regFormSubmitChecker()">
                <fieldset class="form-group">
                    {% csrf_token %} {% for field in reg_form %} {% if field.label == 'Username' %}
                    <div class="form-group">
                        {{ field.label_tag }} {{ field }}
                        <div class="alert alert-danger" role="alert" id="usernameAlert" style="display:none;">Username
                            is already in use
                        </div>
                    </div>

                    {% elif field.label == 'Email' %}
                    <div class="form-group">
                        {{ field.label_tag }} {{ field }}
                        <div class="alert alert-danger" role="alert" id="emailAlert" style="display:none;">Email is
                            already in use
                        </div>
                    </div>

                    {% elif field.label == "Password Confirmation" %}
                    <div class="form-group">
                        {{ field.label_tag }} {{ field }}
                        <div class="alert alert-danger" role="alert" id="passwordAlert" style="display:none;">Passwords
                            do not match
                        </div>
                    </div>
                    {% else %}
                    <div class="form-group">
                        {{ field.label_tag }} {{ field }}
                    </div>
                    {% endif %} {% endfor %}
                    <p>Already got an account? <a data-dismiss="modal" data-toggle="modal"
                                                  data-target="#loginModal" href="#">Sign In</a></p>
                </fieldset>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-sign-up" name="create_new_account">Create account</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Forgotten Password Modal -->
<div class="modal fade" id="forgottenPasswordModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Forgotten Password</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" class="forgottenpassform">
                <p>Please specify your email address to receive instructions for resetting it</p>
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <label for="id_email" class="control-label required-field">E-mail address:</label>
                {{ forg_pass_form.email }}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-sign-up" data-toggle="modal" name="reset_password">Reset
                        Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Email Sent Modal -->
<div class="modal fade" id="emailSendModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Forgotten Password</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="email-sent">
                <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
                <p>You should be receiving it shortly.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sign-up" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
