{% extends 'base.html' %} {% block content %}
<section class="callout jumbotron text-center white-text welcome-page-bg">
    <h1><strong>A high quality software development</strong></h1>
    <p class="lead"><b>We love software development, we love building features, and we love solving bugs. We do it great and with a great pleasure.</b></p>
    <p class="lead"><b>Join our community and support us</b></p>
    <p><a class="btn btn-primary btn-lg btn-sign-up" href="#" role="button" href="/accounts/register/">Sign Up!</a></p>
    <p class="text-muted"><small class="white-text">We respect your privacy and do not tolerate spam and will never sell, rent, lease or give away your information.</small></p>
</section>
{% endblock %}
