{% extends "base_logged_in.html" %}
{% load static %}
{% block content %}
{% if messages %}
<div align="center" class="alert alert-primary">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
<div class="container profile-container">
    <div class="row">
        <div class="col-12 col-md-4 profile-feature">
            <div class="row">
                <div class="col-12">
                    <div align="center" class="col-12">
                        <img src="{{ user.avatar.url }}" height="150">
                    </div>
                    <div align="center" class="col-12">
                        <div>@{{ user }}</div>
                        <div>{{ user.user.first_name }} {{ user.user.last_name }}</div>
                    </div>
                    {% if request.user.userprofile == user %}
                    <div align="center" class="col-12">
                        <div class="title">
                            <a class="btn btn-dark" href="{% url 'edit_profile' %}">
                                <span>Edit Profile</span>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% if request.user.userprofile == user %}
                    <div class="col-12">
                        <strong>E-mail:</strong>
                        <span>{{ user.user.email }}</span>
                    </div>
                    <div class="col-12">
                        <strong>Available Upvotes:</strong>
                        <span>{{ user.available_upvotes }}</span>
                    </div>
                    <div class="col-12">
                        <strong>Country:</strong>
                        <span>{{ user.country.name }}</span>
                    </div>
                    <div class="col-12">
                        <strong>County:</strong>
                        <span>{{ user.county }}</span>
                    </div>
                    <div class="col-12">
                        <strong>Town or city:</strong>
                        <span>{{ user.town_or_city }}</span>
                    </div>
                    <div class="col-12">
                        <strong>Postcode:</strong>
                        <span>{{ user.postcode }}</span>
                    </div>
                    <div class="col-12">
                        <strong>Street address:</strong>
                        <span>{{ user.street_address1 }}</span>
                    </div>
                    <div class="col-12">
                        <strong>Street Address 2:</strong>
                        <span>{{ user.street_address2 }}</span>
                    </div>
                    <div class="col-12">
                        <strong>Phone Number:</strong>
                        <span>{{ user.phone_number }}</span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 profile-feature">
            <div align="center" class="col-12">
                <button id="reported-bugs-btn" class="btn btn-dark">Reported Bugs</button>
                <button id="upvoted-bugs-btn" class="btn">Upvoted Bugs</button>
                <button id="asked-features-btn" class="btn">Asked Features</button>
                <button id="upvoted-features-btn" class="btn">Upvotes Features</button>
            </div>
            <hr>
            <div class="col-12 bugs-feature-container">
                <div id="profile-reported-bugs">
                    {% if reported_bugs %}
                    <div align="center" class="col-12">
                        <div>
                            {% for bug in reported_bugs %}
                            <p>
                                {% if bug.open is True %}
                                <i class="fas fa-exclamation-circle" style="color: green;"></i>
                                {% else %}
                                <i class="fas fa-check" style="color: green;"></i>
                                {% endif %}
                                <a class="no-decor" href="{{ bug.get_absolute_url }}">
                                    {{ bug.title }}
                                </a>
                                {% if bug.is_recent %}
                                {{ bug.published_date|timesince}} ago
                                {% else %}
                                {{ bug.published_date|date:"d M Y" }}
                                {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div id="profile-upvoted-bugs">
                    {% if upvoted_bugs %}
                    <div align="center" class="col-12">
                        <div>
                            {% for bug in upvoted_bugs %}
                            <p>
                                {% if bug.open is True %}
                                <i class="fas fa-exclamation-circle" style="color: green;"></i>
                                {% else %}
                                <i class="fas fa-check" style="color: green;"></i>
                                {% endif %}
                                <a class="no-decor" href="{{ bug.get_absolute_url }}">
                                    {{ bug.title }}
                                </a>
                                {% if bug.is_recent %}
                                {{ bug.published_date|timesince}} ago
                                {% else %}
                                {{ bug.published_date|date:"d M Y" }}
                                {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div id="profile-asked-features">
                    {% if asked_features %}
                    <div align="center" class="col-12">
                        <div>
                            {% for feature in asked_features %}
                            <p>
                                {% if feature.open is True %}
                                <i class="fas fa-exclamation-circle" style="color: green;"></i>
                                {% else %}
                                <i class="fas fa-check" style="color: green;"></i>
                                {% endif %}
                                <a class="no-decor" href="{{ bug.get_absolute_url }}">
                                    {{ feature.title }}
                                </a>
                                {% if feature.is_recent %}
                                {{ feature.published_date|timesince}} ago
                                {% else %}
                                {{ feature.published_date|date:"d M Y" }}
                                {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div id="profile-upvoted-features">
                    {% if upvoted_features %}
                    <div align="center" class="col-12">
                        <div>
                            {% for feature in upvoted_features %}
                            <p>
                                {% if feature.open is True %}
                                <i class="fas fa-exclamation-circle" style="color: green;"></i>
                                {% else %}
                                <i class="fas fa-check" style="color: green;"></i>
                                {% endif %}
                                <a class="no-decor" href="{{ bug.get_absolute_url }}">
                                    {{ feature.title }}
                                </a>
                                {% if feature.is_recent %}
                                {{ feature.published_date|timesince}} ago
                                {% else %}
                                {{ feature.published_date|date:"d M Y" }}
                                {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/profile.js'%}"></script>
{% endblock %}
