{% extends "base_logged_in.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container news-container">
    <h2 align="center" class="title">Cart</h2>
    <hr class="featurette-divider">
    <div class="row">
        {% for item in cart_items %}
        <div align="center" class="col-12 col-md-6 col-lg-4">
            <h4>{{ item.package.title }}</h4>
            <div class="package">
                <div>Upvotes worth: {{ item.package.worth_upvotes }}</div>
                <div>Price: £ {{ item.package.price }}</div>
                <br>
                <form class="form-inline justify-content-center" method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="quantity" class="input-group-addon">Quantity: </label>
                        <input name="quantity" id="quantity" type="number" min="0" max="999" class="form-control"
                               value="{{item.quantity}}">

                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend
                        </button>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-12">
            <div class="float-right">
                <span>Total £ {{ total }}</span>
                <hr class="featurette-divider">
                <a href="{% url 'checkout' %}" class="btn btn-success" role="button">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true">Checkout</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}