{% extends "base_logged_in.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container news-container">
    <h2 align="center" class="title">Cart</h2>
    <hr class="featurette-divider">
    <div class="row">
        {% if cart_items %}
        {% for item in cart_items %}
        <div align="center" class="col-12 col-md-6 col-lg-4">
            <h4>{{ item.package.title }}</h4>
            <div class="package">
                <div>Upvotes worth: {{ item.package.worth_upvotes }}</div>
                <div>Price: £ {{ item.package.price }}</div>
                <br>
                <form class="form-inline justify-content-center" method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group col-12">
                        <label for="quantity" class="input-group-addon col-3">Quantity:&nbsp</label>
                        <input name="quantity" id="quantity" type="number" min="0" max="999" class="form-control col-3"
                               value="{{item.quantity}}">
                        <button type="submit" class="btn btn-outline-info col-6 col-sm-3 col-lg-4">
                            <span>Amend</span>
                        </button>
                        <a class="btn btn-outline-danger col-6 col-sm-3 col-lg-2" href="{% url 'remove_item' item.id %}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div align="center" class="col-12 col-md-6 col-lg-4">
            <h4 align="center">Your Shopping Cart is empty.</h4>
        </div>
        {% endif %}
    </div>
    <hr class="featurette-divider">
    {% if cart_items %}
    <div class="row">
        <div class="col-12">
            <div class="float-right">
                <span>Total £ {{ total }}</span>
                <hr class="featurette-divider">
                <a href="{% url 'checkout' %}" class="btn bugs-button" role="button">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true">Checkout</span>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}