{% load staticfiles %}
{% load bootstrap_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unicorn Attractor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/loggedin.css' %}">
</head>

<body>
<div class="wrapper">
    <nav class="navbar navbar-dark navbar-custom navbar-expand-md">
        <div class="container">
            <a class="navbar-brand logo-white-orange" href="{% url 'news' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news' %}"><i class="fas fa-newspaper"></i>News</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a type="button" class="btn bugs-button" href="{% url 'bugs' %}"><i class="fas fa-bug"><span>Bugs</span></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-laptop-code"></i>Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_profile' %}"><i
                                class="fas fa-address-card"></i>Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    {% if comments %}
    <!-------------COMMENTS------------->
    <div class="content container comment-container">
        <div class="row">
            <div class="col-12">
                <div class="comment-wrapper">
                    <div class="panel panel-info">
                        <h4 class="panel-heading">
                            <hr>
                            Comments
                            <hr>
                        </h4>
                        <div class="panel-body">
                            <br>
                            <ul class="media-list">
                                {% for comment in comments %}
                                <li class="media">
                                    <a class="d-none d-md-block" href="#">
                                        <img src="{{ MEDIA_URL }}{{ comment.user.avatar }}" alt="" class="img-circle">
                                    </a>
                                    <div class="media-body">
                                        <strong><a class="no-decor" style="color: #e54725;" href="#">@{{ comment.user.user }}</a></strong>
                                        <span class="text-muted">
                                            <small class="text-muted">{{ comment.published_date|timesince}} ago</small>
                                        </span>
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </li>
                                {% for child_comment in comment.children %}
                                <li class="media offset-1">
                                    <a class="d-none d-md-block" href="#">
                                        <img src="{{ MEDIA_URL }}{{ child_comment.user.avatar }}" alt="" class="img-circle">
                                    </a>
                                    <div class="media-body">
                                        <strong><a class="no-decor" style="color: #e54725;" href="#">@{{ child_comment.user.user }}</a></strong>
                                        <span class="text-muted">
                                            <small class="text-muted">{{ child_comment.published_date|timesince}} ago</small>
                                        </span>
                                        <p>{{ child_comment.content }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                                <li class="media">
                                    <a class="d-none d-md-block" href="#">
                                        <img src="{{ MEDIA_URL }}{{ user.userprofile.avatar }}" alt=""
                                             class="img-circle">
                                    </a>
                                    <div class="media-body">
                                        <p>
                                        <form method="POST">
                                            {% csrf_token%}
                                            {{ comment_form | as_bootstrap }}
                                            <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                            <input type="submit" class="btn bugs-button" style="color: white;" value="Reply">
                                        </form>
                                        </p>
                                    </div>
                                </li>
                                {% endfor %}
                                <hr>
                                <li class="media">
                                    <a class="d-none d-md-block" href="#">
                                        <img src="{{ MEDIA_URL }}{{ user.userprofile.avatar }}" alt=""
                                             class="img-circle">
                                    </a>
                                    <div class="media-body">
                                        <p>
                                        <form method="POST">
                                            {% csrf_token%}
                                            {{ comment_form | as_bootstrap }}
                                            <input type="submit" class="btn bugs-button" style="color: white;" value="Send">
                                        </form>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-------------------------->
    {% if comment_form and not comments %}
        <div class="content container comment-container">
        <div class="row">
            <div class="col-12">
                <div class="comment-wrapper">
                    <div class="panel panel-info">
                        <h4 class="panel-heading">
                            <hr>
                            Comments
                            <hr>
                        </h4>
                        <div class="panel-body">
                            <br>
                            <ul class="media-list">
                                <li class="media">
                                    <a class="d-none d-md-block" href="#">
                                        <img src="{{ MEDIA_URL }}{{ user.userprofile.avatar }}" alt=""
                                             class="img-circle">
                                    </a>
                                    <div class="media-body">
                                        <p>
                                        <form method="POST">
                                            {% csrf_token%}
                                            {{ comment_form | as_bootstrap }}
                                            <input type="submit" class="btn bugs-button" style="color: white;" value="Send">
                                        </form>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <footer class="community-pages-footer">
        <div class="d-flex justify-content-center">
            <div>
                <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
        </div>
    </footer>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'js/back_button.js'%}"></script>
</html>
