{% extends "base_logged_in.html" %}
{% block content %}
<!-------------SMALL SCREEN------------->
<div class="container news-container d-block d-lg-none">
    <div class="row">
        <div class="col-12">
            <h2 class="title">{{ new.title }}</h2>
        </div>
        <a href="{% url 'new_detail' new.id %}"><img class="news_image col-12" src="{{ MEDIA_URL }}{{ new.image }}"
                                                     alt="{{new.title}}"></a>
        <div class="col-12">
            <div class="newdetail-content">{{ new.content|linebreaks}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-back" style="float: left;">Back to news</button>
        </div>
        <div class="col-6">
            <span style="float: right;">{{ new.published_date|date:"SHORT_DATE_FORMAT"}}</span>
        </div>
    </div>
</div>
<!-------------BIG SCREEN------------->
<div class="container news-container d-none d-lg-block">
    <div class="row">
        <div class="col-12">
            <h2>{{ new.title }}</h2>
            <span class="float-right">
                {{ new.published_date|date:"SHORT_DATE_FORMAT"}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img class="float-left news-detail-image" src="{{ MEDIA_URL }}{{ new.image }}" alt="{{new.title}}">
            <div class="newdetail-content">{{ new.content|linebreaks}}</div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-back">Back to news</button>
    </div>
</div>
<!-------------COMMENTS------------->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="title">Comments</h2>
        </div>
    </div>
</div>
{% for comment in comments %}
<div class="container">
    <div class="row">
        <p class="col-12">{{ comment.user.user }}</p>
        <img class="news-image" src="{{ MEDIA_URL }}{{ comment.user.avatar }}"></a>
        <div class="col-8">
            <p class="col-12">{{ comment.content }}</p>
        </div>
    </div>
    <div class="row news-footer">
        <div class="offset-sm-4 col-4 ">
            <span>Upvotes: {{ comment.upvotes}}</span>
        </div>
        <div class="col-4">
            {{ comment.published_date|timesince}} ago
        </div>
    </div>
</div>
{% endfor %}
<form method="POST">
    {% csrf_token%}
    {{ comment_form }}
    <input type="submit" value="Send">
</form>
{% endblock %}