{% extends "base_logged_in.html" %}
{% block content %}
<!-------------SMALL SCREEN------------->
<div class="container news-container d-block d-sm-none">
    <div class="row">
        <div class="col-12">
            <h2 class="title">{{ new.title }}</h2>
        </div>
        <a href="{% url 'new_detail' new.id %}"><img class="news_image col-12" src="{{ MEDIA_URL }}{{ new.image }}" alt="{{new.title}}"></a>
        <div class="col-12">
            <p>{{ new.content}}</p>
        </div>
    </div>
    <div class="row news-footer">
        <div class="col-6 ">
            <span>Views: {{ new.views}}</span>
        </div>
        <div class="col-6 ">
            {{ new.published_date|date:"SHORT_DATE_FORMAT"}}
        </div>
    </div>
</div>
<!-------------BIG SCREEN------------->
<div class="container news-container d-none d-sm-block">
    <div class="row">
        <a class="col-4" href="{% url 'new_detail' new.id %}"><img class="news-image" src="{{ MEDIA_URL }}{{ new.image }}" alt="{{new.title}}"></a>
        <div class="col-8">
            <h2 class="col-12 title">{{ new.title }}</h2>
            <p class="col-12">{{ new.content}}</p>
        </div>
    </div>
    <div class="row news-footer">
        <div class="offset-sm-4 col-4 ">
            <span>Views: {{ new.views}}</span>
        </div>
        <div class="col-4">
            {{ new.published_date|date:"SHORT_DATE_FORMAT"}}
        </div>
    </div>
</div>

{% endblock %}