{% extends "base_logged_in.html" %}
{% load static %}
{% block content %}
<!--SMALL SCREEN-->
<div class="container news-container d-block d-lg-none">
    <h2>{{ new.title }}</h2>
    <div class="row">
        <a href="{% url 'new_detail' new.id %}"><img class="col-12" src="{{ MEDIA_URL }}{{ new.image }}"
                                                     alt="{{new.title}}"></a>
        <div class="col-12">
            <div class="newdetail-content">{{ new.content|linebreaks}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-back" style="float: left;">Back</button>
        </div>
        <div class="col-6">
            <span style="float: right;">{{ new.published_date|date:"SHORT_DATE_FORMAT"}}</span>
        </div>
    </div>
</div>
<!--BIG SCREEN-->
<div class="container news-container d-none d-lg-block">
    <div class="row">
        <div class="col-12">
            <h2>{{ new.title }}</h2>
            <span class="float-right">
                {{ new.published_date|date:"SHORT_DATE_FORMAT"}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img class="float-left news-detail-image" src="{{ MEDIA_URL }}{{ new.image }}" alt="{{new.title}}">
            <div class="newdetail-content">{{ new.content|linebreaks}}</div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-back">Back</button>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/buttons.js'%}"></script>
<script src="{% static 'js/delete_comment.js'%}"></script>
{% endblock %}