{% extends "base_logged_in.html" %}
{% block content %}
{% for new in news %}
<div class="container news-container">
    <div class="row">
        <a class="col-12 col-md-6 col-lg-5" href="{{ new.get_absolute_url }}">
            <img class="news-image" src="{{ MEDIA_URL }}{{ new.image }}" alt="{{new.title}}"></a>
        <div class="col-12 col-md-6 col-lg-7">
            <a class="no-decor" href="{{ new.get_absolute_url }}">
                <h2 class="col-12 title">{{ new.title }}</h2>
            </a>
            <p class="col-12">{{ new.content|truncatewords:30}}
                <a href="{{ new.get_absolute_url }}" style="color: blue;">More</a>
            </p>
        </div>
    </div>
    <div class="row news-footer">
        <div class="col-6 offset-sm-4 col-sm-4">
            <span>Comments: {{ new.comments.count}}</span>
        </div>
        <div class="col-6 col-sm-4">
            {{ new.published_date|date:"SHORT_DATE_FORMAT"}}
        </div>
    </div>
</div>
{% if not forloop.last %}
<hr class="featurette-divider d-none d-lg-block">
{% endif %}
{% endfor %}
<!--PAGINATION-->
{% if news.has_other_pages %}
<div class="container">
    <nav class="row page-nav" aria-label="News Page Navigation">
        <ul class="col-12 pagination justify-content-center">
            {% if news.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ news.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            {% for i in news.paginator.page_range %}
            {% if news.number == i %}
            <li class="page-item active">
                <span class="page-link">{{ i }}
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if news.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ news.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
{% endblock %}
